@model IEnumerable<LTP2DatabaseFirst.Models.produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricaoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria.nomeCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nomeCategoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProduo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProduo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProduo })
        </td>
    </tr>
}

</table>
