@model LTP2_MVC_Exemplo.Models.Aluno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Aluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ra_Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ra_Aluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_Aluno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Aluno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
