@model IEnumerable<LTP2_MVC_Exemplo.Models.AlunoDisciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.nome_Aluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.nome_Disciplia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.nome_Aluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.nome_Disciplia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_AlunoDisciplina }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_AlunoDisciplina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_AlunoDisciplina })
        </td>
    </tr>
}

</table>
