@model IEnumerable<LTP2_MVC_Exemplo.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracao_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enade_curso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracao_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enade_curso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_curso }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_curso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_curso })
        </td>
    </tr>
}

</table>
