@model IEnumerable<LTP2_MVC_Exemplo.Models.Disciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (@Request.QueryString["exc"] == "False")
{
    <script>alert("Não é possível excluir esta disciplina");</script>
}

<p>
    @Html.ActionLink("Create New" , "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.codigo_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Disciplia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_Disciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodo_Disciplina)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.codigo_curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_Disciplia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periodo_Disciplina)
            </td>
            <td>
                @Html.ActionLink("Edit" , "Edit" , new { id = item.id_Disciplina }) |
                @Html.ActionLink("Details" , "Details" , new { id = item.id_Disciplina }) |
                @Html.ActionLink("Delete" , "Delete" , new { id = item.id_Disciplina })
            </td>
        </tr>
    }

</table>
