@model IEnumerable<LTP2_MVC_Exemplo.Models.Coordenacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.codigo_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Coordenacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atendimento_Coordenacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.codigo_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Coordenacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atendimento_Coordenacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Coordenacao }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Coordenacao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Coordenacao })
        </td>
    </tr>
}

</table>
